#clock {
  font-family: "Nova Mono", monospace;
  font-size: 16vw;
  text-align: center;
  text-shadow: 0px 0px 20px;
  background-color:black;
}

#date {
  text-align: center;
  font-size: 4vw;
  text-shadow: 0px 0px 20px;
}
